.dark {
  background: #181a1b !important;
  color: rgb(156, 163, 175) !important;
  line-height: 1.5rem !important;
}

.light {
  background: #fff !important;
  color: #000 !important;
}

.tan {
  background: tan !important;
  color: #ccc !important;
}
