@page {
  margin-bottom: 5pt;
  margin-top: 5pt;
}
@font-face {
  src: url(LibreBaskerville-Regular.ttf);
  font-family: "Baskerville";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Libre Baskerville";
  panose-1: 2 0 0 0 0 0 0 0 0 0;
  src: url(fonts/Libre-Baskerville.ttf);
}
@font-face {
  font-family: "Libre Baskerville";
  panose-1: 2 0 0 0 0 0 0 0 0 0;
  src: url(fonts/Libre-Baskerville-Bold.ttf);
  font-weight: bold;
}

@font-face {
  src: url(LibreBaskerville-Bold.ttf);
  font-family: "Baskerville";
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}