.tittle-big {
  font-size: 1.5em !important;
  font-family: Baskerville;
  font-weight: bold;
}

.tittle {
  font-family: Baskerville;
  font-weight: bold;
}

.au {
  display: block;
  /*text-indent: 1.5em;*/
  margin: 0;
}
.calibre {
  display: block;
  font-family: 'Libre Baskerville', serif;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  text-align: justify;
  margin: 0 5pt;
}
.calibre_ {
  display: block;
  height: 3em;
}
.calibre_1 {
  display: block;
  text-align: center;
}
.calibre_2 {
  display: block;
  height: 2em;
}
.calibre_3 {
  display: block;
  height: 15em;
}
.calibre_4 {
  display: block;
  height: 1em;
}
.calibre_5 {
  display: block;
  text-align: justify;
}
.calibre_6 {
  display: block;
  margin-left: 1em;
  text-align: justify;
  text-indent: -1em;
}
.calibre_7 {
  display: block;
  text-align: justify;
  /*text-indent: 1em;*/
}
.calibre_8 {
  display: block;
  margin-left: 1em;
  text-align: left;
  text-indent: -1em;
}
.calibre_9 {
  display: block;
  margin-left: 1em;
  text-indent: -1em;
}
.calibre_10 {
  display: block;
  text-align: left;
}
.calibre1 {
  font-size: 1.29167em;
  line-height: 1.2;
}
.calibre2 {
  display: block;
  height: 0;
}
.calibre3 {
  font-size: 1em;
}
.calibre4 {
  display: block;
}
.calibre5 {
  font-size: 0.75em;
}
.italic {
  font-style: italic;
}
.mbp_pagebreak {
  display: block;
  margin: 0;
}
